@media (min-width: 120px) {
    .header-toolbar {
        background-color: #224095;
        color: white;
        display: flex; 
        flex-direction: column;
        padding: 0.5vw !important;
        .header-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .header-top-left {
                :hover{
                    cursor: pointer;
                }
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: left;
                img {
                    height: 10vh;
                    width: auto;
                    padding: 1vw;
                }
                .header-college-name{
                    h1 {
                        font-size: 2.9vw;
                    }
                    h4 {
                        font-size: 2.5vw;
                    }
                }
            }
            .menu-toggle {
                display: block;
                margin-right: 1vw;
            }
            .header-top-right {
                display: none;
            }
        }
        .header-bottom {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .header-toolbar {
        .header-top {
            .header-top-left {
                img {
                    width: 7vw !important;
                    height: auto !important;
                    padding: 0 !important;
                }
                .header-college-name{
                    h1 {
                        font-size: 2.2vw;
                    }
                    h4 {
                        font-size: 1.5vw;
                    }
                }
            }
            .header-top-right {
                display: flex;
                align-items: center;
                width: 30%;
                .header-nav{
                    color: #fff;
                    padding: 0.5vw;
                    h3 {
                        font-size: 1.7vw;
                        margin-right: 2vw;
                    }
                    h2 {
                        display: block;
                        font-size: 1.7vw;
                        margin-right: 2vw;
                    }
                }
            }
            .menu-toggle {
                display: none;
            }
        }
        .header-bottom {
            display: flex;
            margin-top: 1vw;
            .nav-button {
                font-size: 1vw;
            }
        }
    }
}

@media (min-width: 975px) {
    .header-toolbar {
        .header-bottom {
            .nav-button {
                font-size: 1.2vw;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header-toolbar {
        .header-bottom {
            width: 100%;
            justify-content: space-between;
        }
    }
}

/* min width - screen size
    480     -   small
    768     -   mid
    1024    -   lg
    1200    -   max
*/