.home-banner {
    background-image: url('../../Assets/Images/KRISAT.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center center;
    .banner-inner-section {
        display: flex;
        padding: 3%;
        img {
            width: 8%;
        }
        .banner-content {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding-left: 2%;
            padding-bottom: 5px;
            h1 {
                font-size: 6vh;
                color: #656565;
            }
            p {
                width: 60%;
                font-size: 2vh;
                line-height: 25px;
                padding-top: 6px;
            }
        }
    }
    .button {
        padding: 20px;
        display: flex;
        border-radius: 25px;
        width: 13%;
        justify-content: center;
        background-color: rgba($color: #fff, $alpha: 0.45);
        color: white;
        border: none;
        font-size: xx-large;
        font-weight: 550;
        margin-top: 22%;
        margin-left: 45%;
    }
}
.home-about {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    .about-heading {
        background-color: white;
        width: 80%;
        height: 40px;
        text-align: center;
        border-radius: 38px;
        align-content: center;
        h2 {
            color: #B6753C;
        }
    }
    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        height: 100%;
        .content1 {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 30px;
            background-color: white;
            margin: 1%;
            .content-header{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: #77ab43;
                border-radius: 20px;
                height: 55%;
                .card-img {
                    outline: none;
                    width: 100%;
                    height: 190px;
                    border-radius: 20px;            
                }
                .card-heading{
                    color: #FFFFFF;
                    text-align: center;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .content-content{
                    display: flex;
                    flex-direction: column;
                    h4, p {
                        text-align: justify;
                        padding: 1%;                   ; 
                    }
                    h4 {
                       color: #B6753C;
                    }
                }
                .card-actions{
                    display: flex;
                    justify-content: center;
                    button {
                        border-radius: 25px;
                        background: #77ab43;
                        padding: 10px;
                        color: white;
                        border: none;
                        justify-content: center;
                        width: 70%;
                    }
                }
            }
        }
    }
}