.layout {
    display: flex;
    flex-direction: column;

    .heading {
        padding: 1.5%;
        color: #1F3A7E;
    }

    .content-layout {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;

        .content-layout-left {
            flex: 1;
            min-width: 250px;
            //padding-right: 20px;
            //position: relative; // For absolute positioning of labels


            // Horizontal layout for small screens
            @media (max-width: 600px) {
                flex-direction: row;
                align-items: center; // Center items vertically

                .timeline-label {
                    top: 0; // Position on the timeline
                    transform: translateY(-50%); // Center vertically
                }
            }
        }

        .content-layout-right {
            flex: 2;
            min-width: 300px;
            margin-top: 20px; // Space above content

            @media (max-width: 600px) {
                margin-top: 10px; // Less space on small screens
                width: 100%; // Full width
            }
        }
    }

    // Media query for very small screens
    @media (max-width: 400px) {
        .content-layout {
            flex-direction: column; // Stack on top of each other
            align-items: center; // Center align

            .content-layout-left,
            .content-layout-right {
                min-width: 100%; // Full width on very small screens
                padding-right: 0; // Remove padding
            }
        }
    }
}
