.gallery-img {
  border-radius: 15px;
  filter: brightness(0.6) !important;
  transition: 0.5s;
}

.gallery-img:hover {
  filter: brightness(0.8) !important;
  transition: 0.5s;
  transform: scale(1.05);
  .gallery-calendar-div {
    z-index: 0;
  }
}

.vertical-img {
  height: calc(50vh + 24px) !important;
}

.gallery-calendar-icon {
  color: white !important;
  width: 2rem !important;
  height: 2rem !important;
}

.gallery-calendar-div {
  position: absolute;
  right: 0;
  margin: 10px;
  z-index: 999;
}

.gallery-calendar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-calendar-section span {
  color: white;
  font-size: 12px;
}

.gallery-box-parent {
  position: relative;
}

.gallery-collection-div {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  margin: 20px;
}

.gallery-collection-section span {
  color: white;
}
